<html>
    <body>
        <center>
            <button onclick="window.close();" style="margin-top: 100px; background-color: #0066cc; color: #FFFFFF; border: none; box-shadow: 0 0 3px #000; border-radius: 4px; width: 90%; height: 30px; font-size: 14px;">Luk</button>
        </center>
    </body>
</html>