<div class="col-xs-12">
    <h3>How would you like to manage your teams and projects?</h3>
    <br />
    <div class="row">
        <form method="post">
            <table>
                <tbody>
                    <tr>
                        <td class="col-xs-6">
                            <h4>Full features</h4>
                        </td>
                        <td class="col-xs-6">
                            <h4>Simplified experience</h4>
                        </td>            
                    </tr>
                    <tr>
                        <td class="col-xs-6">
                            <br />
                            <p>Full features means full control over all the aspects of your projects and teams.</p>
                            <p>You will be able to create an unlimited number of teams and edit them. You will have to manage each team member's membership and tasks allocation.</p>
                            <p>When creating and editing a project you will be able to select which teams to assign to that project.</p>
                            <p>Flow: </p>
                            <p>Create a team, invite users to your team by using the search by email option. They will receive invitations and accept or reject them.</p>
                            <p>Create a project and add the created team to that project. All the users who accept your team invitations will be assigned to the project and will be available for you to allocate tasks to them on that project.</p>
                            <p>You will only be able to assign a project's tasks to the users who belong to teams which were assigned to that project.</p>
                            <br />
                        </td>
                        <td class="col-xs-6">
                            <br />
                            <p>Select this if you work alone or if you do not need more than one team.</p>
                            <p>Selecting the simplified usage will hide some of the full features functionality. The difference is currently visible only on the "Edit project" functionality and "Teams leadership", but I am working on simplifying the interface more.</p>
                            <p>If this option is chosen, when you create your first project a default team will be created with the name "{{username}}'s team" if it does not exist already. </p>
                            <p>{{username}}'s team will be automatically assigned to all your projects and all its users assigned to all the projects tasks as you add users to the team or tasks to the projects. </p>
                            <p>You will not have an option for teams management in menu for as long as this setting is enabled. You will add users to your default team from the "Edit project".</p>
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><br /><center>* Remember that if you ever change your mind, you can find this setting on your account settings under the name "Desired management experience". *</center><br /><br /></td>
                    </tr>
                    <tr>
                        <td class="col-xs-6">
                            <button class="btn btn-default form-control" name="experience_type" value="0">Continue with full features</button>
                        </td>
                        <td class="col-xs-6">
                            <button class="btn btn-default form-control" name="experience_type" value="1">Continue with simplified experience</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <center>
            <br />
           
        </center>
    </div>
</div>