<div class="container">
    <br />
    <br />
    {{#invalid}}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            <p>Invalid token.</p>
            <a href="/user/login">Go back to login</a>
        </div>
    {{/invalid}}
    {{^invalid}}
        <div class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <p>Your password has been successfully set. You can now proceed to login.</p>
            <a href="/user/login">Go to login</a>
        </div>
    {{/invalid}}
</div>