<div class="row" id="landing-page">
    <div class="col-xs-12">
        <center>
            <br /><br />
            <h1>
                Chronos Depot<br /><br />
            </h1>
            <center><img src="/public/img/chronoslogo.png" alt /></center>
            <br /><br />
            <center>
                <img src="/public/img/beta.png" alt />
            </center>
            <h3>
                 LIGHTWEIGHT PROJECT MANAGEMENT TOOL
            </h3>
            <div class="clearfix"></div>
            <br />
            {{#user}}
                <p>Hello {{firstname}}!</p>
                <p>Thank you for using Chronos Depot! :)</p>
            {{/user}}
            {{^user}}
                <a class="btn btn-info" href="/user/login">Login / Register</a>
            {{/user}}
        </center>
    </div>
    <div class="clearfix"></div>
    <br />
    <br />
    <center>
    <h4>Usage: </h4>
    <p> - Time tracking and task management</p>
<!--    <h4>Further development: </h4>
    <p> - Invoicing, customer interface for project progress.</p>
    <p> - Burndown charts.</p>
    <p> - Attaching documents to tasks and probably a google docs integration too</p>-->
    </center>
    <br />
    <br />
    <div class="col-xs-12" id="info">        
<!--        <div class="panel panel-default col-xs-12 col-sm-6 col-md-4">
            <div class="panel-body">
                <center>
                    
                </center>
            </div>
        </div>
        <div class="panel panel-default col-xs-12 col-sm-6 col-md-4">
            <div class="panel-body">
                <center>
                    
                </center>

            </div>
        </div>
        <div class="panel panel-default col-xs-12 col-sm-6 col-md-4">
            <div class="panel-body">
                <center>
                    
                </center>
            </div>
        </div>-->
    </div>
    <div class="clearfix"></div>
<!--    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3" id="video-container">
                <iframe src="https://player.vimeo.com/video/105503559" width="100%" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
    </div>-->
<center>
    <div class="fb-like" data-href="https://www.facebook.com/chronosdepot" data-layout="button" data-action="like" data-show-faces="true" data-share="true">
    </div>
</center>
</div>
