<div class="container">
    <br />
    <br />
    <br />
    <h1>Privacy Policy</h1>
    <br />
    <h4>Less boring than the usual</h4>
    <p>
        <br />
        <br />
        <br />
        None of your personal information will be disclosed to any person who is not a member of chronosdepot.com, unless deliberately required by Romanian legal authorities, in which case I will personally send you an email to inform you about such enquiries.
    </p>
    <p>
        This project is as open as it can be. Any personal information you share here can be seen by other registered users of chronosdepot.com.
    </p>
</div>