<div class="container">
    <br />
    <br />
    <br />
    <h1>Terms of use</h1>
    <br />
    <h4>My terms, that is.</h4>
    <p>
        <br />
        <br />
        <br />
        1. Do whatever the system allows you to and be decent.
    </p>
    <br />
    <p>
        2. Please do not abuse any feature by which you could create unpleasant experiences for the other users.
    </p>
    <br />
    <p>
        3. In case you need your account removed send me an email. I did not implement an account removal feature yet, so I will have to type some sql queries to achieve that for you.
    </p>
    <br />
    <p>
        4. Feel free to send me emails if you have suggestions or complaints about chronosdepot.com or its users.
    </p>
    <br />
    <p>
        5. Bless you!
    </p>
    <div class="row">
        <p>
            <br />
            <br />
            <br />
            <span class="pull-right" style="text-align: right">
                Alex
                <br />
                <a href="mailto:jgr.alex@live.com">jgr.alex@live.com</a>
            </span>
        </p>
    </div>
</div>