<div class="col-xs-6">
    <h3>Users</h3>
    <table class="table table-bordered table-hover">
        <tbody>
            {{#users}}
                <tr>
                    <td>
                        {{email}}
                    </td>
                    <td> 
                        {{username}}
                    </td>
                </tr>
            {{/users}}
        </tbody>
    </table>
    
</div>
<div class="col-xs-6">
    <h3>Projects</h3>
    <table class="table table-bordered table-hover">
        <tbody>
            {{#projects}}
                <tr>
                    <td>
                        {{name}}
                    </td>
                </tr>
            {{/projects}}
        </tbody>
    </table>
</div>