<div class="navbar-header">
    <div class="navbar-toggle visible-xs" id="main-menu" data-toggle="collapse" data-target="#menu-header .navbar-collapse">   
        <span class="option-name">{{#user}}{{username}}{{/user}}&nbsp;</span> <i class="{{#page_icon}}{{page_icon}}{{/page_icon}}{{^page_icon}}glyphicon glyphicon-th-list{{/page_icon}}"></i>
    </div>
    {{#user}}
    <div class="navbar-toggle visible-xs col-lg-2" data-toggle="offcanvas" data-target="#user-menu">
        <span class="col-lg-12 glyphicon glyphicon-folder-open"></span>
    </div>
    {{#has_active_tasks}}
    <div class="navbar-toggle visible-xs col-lg-2 warning" data-toggle="offcanvas" data-target="#active-tasks-container">
        <span class="col-lg-12 glyphicon glyphicon-tasks"></span><span class="option-name">({{has_active_tasks}})</span>
    </div>
    {{/has_active_tasks}}
    {{/user}}
</div>
<div id="menu-header">
    <div class="collapse navbar-collapse menu-container pull-right">
        <ul class="nav navbar-nav">
            {{#menu}}
            <li class="{{class}}" id="{{id}}">
            {{#special}}
                {{{special}}}
            {{/special}}
            {{^special}}
                <a href="{{route}}">
                    {{#icon}}<span class="{{icon}}"></span>{{/icon}}                
                    <span class="option-name">{{name}} {{#value}}( {{value}} ){{/value}}</span>
                </a>
            {{/special}}
            </li>           
            {{/menu}}
        </ul>
    </div>
</div>