<div class="panel panel-default">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <tbody>
                {{#worklogs}}
                <tr>
                    <td>
                        {{project_name}}
                    </td>
                    <td>
                        {{task_goal}}
                    </td>
                    <td>
                        {{human_duration}}
                    </td>
                    <td class="start_time" data-unix="{{start_time}}">
                        {{human_start}}
                    </td>
                    <td class="stop_time" data-unix="{{stop_time}}">
                        {{human_stop}}
                    </td>
                </tr>
                {{/worklogs}}
            </tbody>
        </table>
    </div>
</div>